<section class="signUp-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field appearance="outline">
      <mat-label>Please Enter Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Enter Email here"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >Please Do not keep Empty</mat-error
      >
      <mat-error *ngIf="!emailInput.hasError('required')"
        >Email is Invalid</mat-error
      >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      hintLabel="it requires 6 digit/character"
    >
      <mat-label>Please Enter Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Enter password here"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel"
      />
      <mat-hint align="end">{{ pwInput.value?.length }}/6</mat-hint>
      <mat-error>Please Enter valid Password </mat-error>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Your DOB"
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="DOB"
        required
      />
      <mat-error>Please Chose your Birthdate</mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox ngModel name="T&C" color="primary" required>
      Agree Terms & Conditions
    </mat-checkbox>

    <button
      *ngIf="!(isLoading$ | async)"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="f.invalid"
    >
      Submit
    </button>
    <mat-spinner *ngIf="isLoading$ | async" color="accent"></mat-spinner>
  </form>
</section>
