<mat-toolbar color="warn">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>input</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/"><img src="../../../assets/tillu.webp" alt="" /></a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-item">
      <li *ngIf="!isAuth"><a routerLink="/sign-up"> SignUp </a></li>
      <li *ngIf="!isAuth"><a routerLink="/login"> Login </a></li>
      <li *ngIf="isAuth"><a routerLink="/training"> Training </a></li>
      <li *ngIf="isAuth">
        <a (click)="onLogout()" style="cursor: pointer"> Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
