.welcome {
  text-align: center;
  color: rgb(245, 45, 10);
}
.container {
  background-image: url(../../assets/workoutLadies.jpg);
  width: 100%;
  background-size: cover;
  height: 593px;
  position: relative;

  margin: 0 auto;
}
